<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agentes</title>
    <link rel = "stylesheet" href="../css/hojaEstilo.css"/>
</head>
<body>
    <body style="background: rgb(184, 251, 251);">
        <h1 class="center_Agentes"> INMOSERVI </h1>
        <nav class="menu_Agentes">
          <img id="logoInicial" src="../imagenes/2logo.png">
          <ul>
              <li></li>
              <li> <a id="li_menu" href="inicio.html">inicio</a></li>
              <li> <a id="li_menu"  href="ejercicicio.html">perfil</a></li>
              <li> <a id="li_menu"  href="agentes.html">Agentes</a></li>
              <li> <a id="li_menu" href="login.html">inciar sesion</a></li>
               <li> <a id="li_menu" href="crear_cuenta.html">Crear Cuenta</a></li>
               <li> <a id="li_menu" href="propiedades-en-alquiler.html">Propiedades</a></li>
               <li><a id="li_menu" href="Contacto.html">Contacto</a></li>
          </ul>
         </nav>
         <section>
         <div class="agente">
         <img id="agente1" src="C:\Users\User\OneDrive\Documentos\DAW 6-1\Lester-develop\ejercicios web\imagenes\WhatsApp-Image-2021-04-24-at-21.07.24-210x210.jpeg">
         <div class="contenedor_a_1">
         <h1>Evelyn Nuñez – Asesora Inmobiliaria</h1>
         <p>Licenciada en Organización y desarrollo Comunitario donde adquirió experiencia coordinando Proyectos para varias ONGS , también ha ejercido como Docente. Luego de ser Asistente Administrativa de una Empresa de Bienes Inmuebles incursionó desde hace cinco años en el ámbito de las ventas capacitándose para ser…</p>
        <h3>Oficina</h3>
        <h4>Salinas</h4>
        <h3>Telefono</h3>
        <h4>+593-958-60-2147</h4>
        </div>
    </div>
    </section>
    <section>
        <div class="agente">
        <img id="agente2" src="C:\Users\User\OneDrive\Documentos\DAW 6-1\Lester-develop\ejercicios web\imagenes\IMG-20210427-WA0002-210x210.jpg">
        <div class="contenedor_a_2">
        <h1>Fernando Lainez – Asesor Inmobiliario</h1>
        <p>Lidera la división de alquileres de Casa Playera , ademas es Asesor Master en ventas .Fernando cuenta con una larga trayectoria  en el ámbito  Inmobiliario , se ha desempeñado como Asesor Inmobiliario , Asiste legal en cierre de ventas, Administrador de Ciudadelas, Asesor de Administraciones…</p>
       <h3>Oficina</h3>
       <h4>Guayaquil</h4>
       <h3>Telefono</h3>
       <h4>+593-93-991-7891</h4>
       </div>
    </div>
   </section>
   <section>
    <div class="agente">
    <img id="agente3" src="C:\Users\User\OneDrive\Documentos\DAW 6-1\Lester-develop\ejercicios web\imagenes\daniela-210x210.jpeg">
    <div class="contenedor_a_3">
    <h1>Daniela Plaza – Asesora Inmobiliaria</h1>
    <p>Daniela siempre ha sido muy creativa y dinámica. Es fotógrafa y videografa, y por 8 años trabajó en barcos turísticos por el mundo captando todas las bellezas de la naturaleza. Originalmente estudió diseño de interiores y es amante de la arquitectura, lo que la motiva…</p>
   <h3>Oficina</h3>
   <h4>Quito</h4>
   <h3>Telefono</h3>
   <h4>+593-99-450-0984</h4>
   </div>
</div>
</section>
<section>
    <div class="agente">
    <img id="agente4" src="C:\Users\User\OneDrive\Documentos\DAW 6-1\Lester-develop\ejercicios web\imagenes\franc-210x210.png">
    <div class="contenedor_a_4">
    <h1>Francisco Villacreses – Asesor Inmobiliario</h1>
    <p>Francisco en un joven Guayaquileño comprometido con la preservación del medio ambiente, se desempeñó como Gerente de Restaurantes y Bares en el Hotel Oro Verde de Guayaquil y otras cadenas importantes. Creador de una innovadora forma de comer nuestra comida típica, dinámico y altruista.</p>
   <h3>Oficina</h3>
   <h4>Santo Domingo</h4>
   <h3>Telefono</h3>
   <h4>+593-96-289-5121</h4>
   </div>
</div>
</section>
<section>
    <div class="agente">
    <img id="agente5" src="C:\Users\User\OneDrive\Documentos\DAW 6-1\Lester-develop\ejercicios web\imagenes\aurelio-210x210.jpg">
    <div class="contenedor_a_5">
    <h1>Aurelio Gillet – Director Comercial</h1>
    <p>Aurelio Gillet , de nacionalidad francesa, nació el 19 mayo 1981 en la cuidad de París. Luego se diplomó en la universidad . Empezó como Vendedor para la CANON en Francia. Luego de esta experiencia decidió vivir una nueva Etapa en América latina</p>
   <h3>Oficina</h3>
   <h4>Guayaquil</h4>
   <h3>Telefono</h3>
   <h4>+593-99-946-0899</h4>
   </div>
   </div>
</section>
<section>
    <div class="agente">
    <img id="agente6" src="C:\Users\User\OneDrive\Documentos\DAW 6-1\Lester-develop\ejercicios web\imagenes\lorena.jpg">
    <div class="contenedor_a_6">
    <h1>Lorena Parra – Directora General</h1>
    <p>A los 18 años de edad ingresó a laborar como Asistente de Gerencia en ” Compañía Ecuatoriana de Pavimentos “ CEPA S.A. , compañía que con empresas relacionadas a este grupo Empresarial, construyeron varios de los proyectos viales e inmobiliarios representativos de esta época </p>
   <h3>Oficina</h3>
   <h4>Guayaquil</h4>
   <h3>Telefono</h3>
   <h4>+593-97-940-0930</h4>
   </div>
</div>
</section>
</body>
</html>
