<!DOCTYPE html5>
<html>
  <head>
  <title> bienvenido </title>
  <link rel = "stylesheet" href="../css/hojaEstilo.css"/>
 </head>

<body style="background: rgb(184, 251, 251);">


<header id="cabeceraweb"> <!-- este en la cabezera el bluuface de inicio -->

<h1 align="center"> INMOSERVI </h1>
</header>

<header id = "cuerpo">  <!-- este es el header del cuerpo principal-->

<header id = "li1"> <!-- el inicio perfil iniciar secion de la parte derecha de arriba -->
  <nav class="menu">
    <img id="logoInicial" src="../imagenes/2logo.png">
    <ul>
      <li> <a id="li_menu" href="inicio.html">inicio</a></li>
      <li> <a id="li_menu"  href="ejercicicio.html">perfil</a></li>
      <li> <a id="li_menu"  href="agentes.html">Agentes</a></li>
      <li> <a id="li_menu" href="login.html">inciar sesion</a></li>
      <li> <a id="li_menu" href="crear_cuenta.html">Crear Cuenta</a></li>
       <li> <a id="li_menu" href="propiedades-en-alquiler.html">Propiedades</a></li>
       <li><a id="li_menu" href="Contacto.html">Contacto</a></li>
    </ul>
   </nav>
 </header>
</header> <!-- aqui determina iniciar sesion , perfil y eso  -->
<div class="pater">
  <div>
        <span  id = "bienvenidox" style=" border: 1px">
          <img style="width:90%;" src="../imagenes/business-meeting.jpg">
        </span>
  </div>
  <div>
 <p > <br>
     <strong id="tituloStaff">NUESTRA EMPRESA</strong><br>
     Nos caracterizamos por ser una empresa seria, cumpliendo con los más altos 
     regímenes de calidad en servicio y trato con nuestros clientes. Logrando así un 
     posicionamiento de excelencia y compromiso. 
     Hoy en día, ya con cientos operaciones concretadas, nos hemos propuesto llegar 
     más alla, brindando mediante esta Web, operaciones en tiempo real, apuntaladas 
     gracias a la suma de la más alta tecnología y la base de nuestras raíces iniciales:  
     servicio y honestidad. 
     Esperamos que las diferentes secciones de nuestra Web, transmitan a usted la 
     misma confianza que hemos obtenido en todos estos años de trayectoria. 
     
     Contáctese con nosotros sin compromiso, estamos a su servicio. <br>
    <strong>CONCTACTANOS AHORA.</strong><br> 
 </p>
</div>
</div>
<div class="pater">
  <div>
    <span  id = "bienvenidox" style=" border: 1px">
      <img style="width:90%;" src="../imagenes/staff.jpg">
    </span>
  </div>
  <div>
    <p> <br>
      <strong id="tituloStaff">STAFF</strong><br>
        Ponemos a su disposición nuestro equipo de profesionales junto a quienes día a
        día trabajamos para hacerle llegar a usted, las mejores propuestas inmobiliarias 
        de la región y la zona.
        Es gracias a ellos, que logramos ser una empresa seria y eficiente, respondiendo
        a sus consultas de manera rápida y concreta.
    </p>
  </div>
</div>
</main>
<div class="Mision">
  <p style="text-align:center">Mision</p>
</div>
<div class="articulo">
  <article style="text-align: center">Empresa dedicada a ofrecer soluciones integrales de alta calidad en material habitacional y comewrcial para satisfacer
      necesidades de los servicios inmobiliarios de nuestros clientes; que busca la proteccion y optimizacion de la rentabilidad patrimonial 
      de los propietarios; dentro de un marco profesional,etico y juridico, basado en la eficiencia del servicio, la responsabilidad 
      y el cumplimiento de nuestra funcion social; apoyadas en la calidad humana y en la atencion competente y personalizada de nuestro 
      equipo de colaboradores.
  </article>
  </div>
</div>
<div class="vision">
  <p style="text-align:center">Vision</p>
  </div>
  <div class="articulo">
  <article style="text-align:center">Consolidar la empresa como lider en el sector inmobiliario. Ampliar la cobertura en el mercado y el portafolio de servicios ofrecidos 
    a nuestros clientes. Mantener la capacidad permanente del personal; buscar el perfeccionamiento de los proceso administrativos y tecnologicos;
    fomentar la investigacion, la eficiencia y el control de la calidad  en los servicios.
  </article>
</div>
</div>
<div class="politica">
  <p style="text-align:center">Politica de seguridad</p>
  </div>
  <div class="articulo"></div>
  <article style="text-align:center">En INMOSERVI la politica de calidad esta orientada a suministrar con profesionalismo, etica y tecnologia, soluciones inmobiliarias oportunas 
    y estrategicas a nuestros clientes, basadas en un mejoramiento continuo, respondiendo asi a su requerimiento, contando con un excelente equipo profesional comprometido 
    y atento a brindar soluciones agiles y oportunas.
  </article>
</div>
</div>

</body>
<footer id="footer">     
  <br>
  <hr>
<p>© 2022 Immoservi</p>
<p>Derechos Reservados</p>
</footer>
</html>
