<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>propiedades-en-alquiler</title>
    <link rel = "stylesheet" href="../css/hojaEstilo.css"/>
</head>
<body>
    <nav class="menu">
        <img id="logoInicial" src="../imagenes/2logo.png">
        <ul>
          <li> <a id="li_menu" href="inicio.html">inicio</a></li>
          <li> <a id="li_menu"  href="ejercicicio.html">perfil</a></li>
          <li> <a id="li_menu"  href="agentes.html">Agentes</a></li>
          <li> <a id="li_menu" href="login.html">inciar sesion</a></li>
          <li> <a id="li_menu" href="crear_cuenta.html">Crear Cuenta</a></li>
           <li> <a id="li_menu" href="propiedades-en-alquiler.html">Propiedades</a></li>
           <li><a id="li_menu" href="Contacto.html">Contacto</a></li>
        </ul>
       </nav>
    
</body>
</header>

<p style="text-align:center">Muestros Modelos </p>
<center>
    <img style="width:15cm;" src="../imagenes/bien_casa.jpg">
    <img style="width:15cm;" src="../imagenes/casalya.jpg">
    <img style="width:15cm;" src="../imagenes/fotoinmo1.jpg">
    <img style="width:15cm;" src="../imagenes/fotoinmo2.jpg">
    <img style="width:15cm;" src="../imagenes/fotoinmo3.jpg">
    <img style="width:15cm;" src="../imagenes/fotoinmo4.jpeg">
    <img style="width:15cm;" src="../imagenes/fotoinmo5.jpg">
    <img style="width:15cm;" src="../imagenes/fotoinmo6.jpg">  
</center>

</html>
